<template name="BookingList">
    <div class="docs-section">
        <h6 class="docs-header">Ausgaben {{#if bookingsExist}}{{> searchFormAreaBookingList }}{{/if}}</h6>

        <p>Pflege der Ein- und Ausgaben. Unter dem Menüpunkt "<u>Umsätze</u>" können Ein- und Ausgaben nach aktuellem
            Tag, Woche, Monat und Jahr aufgerufen werden.
            Alternativ können auch "alle" existierenden Buchungen ausgegeben werden.
            Standardmäßig wird die aktuelle Woche vorselektiert.</p>
        {{#if bookingsExist}}
            {{#if searchFormEnabled}}
                {{> searchFormBookingList }}
            {{/if}}
            <div class="row">
                <div class="twelve columns">
                    <table id="booking_list" class="u-full-width">
                        <thead class="slab-700">
                        <tr>
                            <th class="align-left">Datum</th>
                            <th class="align-left">Anmerkung</th>
                            <th class="align-left">Kategorie</th>
                            <th class="align-left">Betrag (€)</th>
                            <th class="align-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each bookings}}
                            <tr>
                                <td>{{ datum }}</td>
                                <td>{{ remark }}</td>
                                <td>{{ category }}</td>
                                <td>{{ amount }}</td>
                                <td>
                                    <a href="{{pathFor 'booking_edit'}}" class="editBooking" booking-id="{{_id}}"
                                       category-id="{{categoryId}}">Ändern</a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{else}}
            {{> notificationAreaBookingList }}
        {{/if}}
    </div>
</template>

<template name="notificationAreaBookingList">
    {{#if isConcerned "booking_list"}}
        <div class="row">
            <div class="twelve columns signin-prop notification">
                <strong><p><b>{{notification.type}}</b>{{notification.text}}</p></strong>
            </div>
        </div>
    {{/if}}
</template>

<template name="searchFormAreaBookingList">
    {{#if isSearchFormConcerned "booking_list"}}
        <span class="collapse"><a class="searchForm" style="text-decoration: none"
                                  href="">{{ searchFormEnabler }}</a></span>
    {{/if}}
</template>

<template name="searchFormBookingList">
    <form id="search_booking_list">
        <div class="row">
            <div class="one-third column">
                <label for="search_booking_list_von_datum">Von</label>
                <input type="text" name="search_booking_list_von_datum" id="search_booking_list_von_datum"
                       class="u-full-width" {{disabledProperty}}/>
            </div>
            <div class="one-third column">
                <label for="search_booking_list_bis_datum">Bis</label>
                <input type="text" name="search_booking_list_bis_datum" id="search_booking_list_bis_datum"
                       class="u-full-width"  {{disabledProperty}}>
            </div>
            <div class="one-third column">
                <label for="search_booking_list_category">Kategorie</label>
                <select name="category" id="search_booking_list_category" class="u-full-width">
                    <option value="all">-- Alle --</option>
                    {{#each categoryId}}
                        <option value="{{_id}}" {{isSelected}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{> notificationAreaBookingList }}
    </form>
</template>

