<template name="BookingEdit">

    <div class="docs-section">
        <h6 class="docs-header">Buchung ändern</h6>

        <p>Pflege der Ein- und Ausgaben. Unter dem Menüpunkt "<u>Umsätze</u>" können Ein- und Ausgaben nach
            aktuellem
            Tag, Woche, Monat und Jahr aufgerufen werden.
            Alternativ können auch "alle" existierenden Buchungen ausgegeben werden.
            Standardmäßig wird die aktuelle Woche vorselektiert.</p>

        <div class="row">
            <div class="twelve columns">
                {{#if booking}}
                    {{#with booking}}
                        <form id="new_booking">
                            <div class="row">
                                <div class="six columns">
                                    <label for="edit_booking_datum">Datum</label>
                                    <input type="text" name="date" id="edit_booking_datum"
                                           class="u-full-width" {{disabledProperty}}
                                           value={{ datum }}>
                                </div>
                                <div class="six columns">
                                    <label for="edit_booking_amount">Betrag (€)</label>
                                    <input type="text" name="amount" id="edit_booking_amount"
                                           class="u-full-width"  {{disabledProperty}}
                                           value={{ amount }}>
                                </div>
                            </div>

                            <div class="row">
                                <div class="six columns">
                                    <label for="edit_booking_category">Kategorie</label>

                                    <select name="category" id="edit_booking_category"
                                            class="u-full-width" {{disabledProperty}}>
                                        {{#each categoryId}}
                                            <option value="{{_id}}" {{isSelected}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="six columns">
                                    <label for="new_booking_remark">Anmerkung</label>
                            <textarea rows="2" cols="20" name="remark"
                                      id="edit_booking_remark"
                                      class="u-full-width" {{disabledProperty}}>{{remark}}</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <a id="save_booking"
                                   class="button" {{disabledProperty}}>speichern</a>
                                <a id="delete_booking"
                                   class="button" {{disabledProperty}}>endgültig löschen</a>
                            </div>
                            {{> notificationAreaBookingEdit }}
                        </form>
                    {{/with}}
                {{else}}
                    {{> notificationAreaBookingEdit }}
                {{/if}}
            </div>
        </div>
    </div>

</template>

<template name="notificationAreaBookingEdit">
    {{#if isConcerned "booking_edit"}}
        <div class="row">
            <div class="twelve columns signin-prop notification">
                <strong><p><b>{{notification.type}}</b>{{notification.text}}</p></strong>
            </div>
        </div>
    {{/if}}
</template>
