<template name="BookingList">
    <div class="docs-section">
        <h6 class="docs-header">Ausgaben {{ categoryTitle }} <span class="collapse"><a style="text-decoration: none" href="#">[auf*]</a></span></h6>

        <p>Pflege der Ein- und Ausgaben. Unter dem Menüpunkt "<u>Umsätze</u>" können Ein- und Ausgaben nach aktuellem
            Tag, Woche, Monat und Jahr aufgerufen werden.
            Alternativ können auch "alle" existierenden Buchungen ausgegeben werden.
            Standardmäßig wird die aktuelle Woche vorselektiert.</p>
        {{#if bookingsExist}}
            <div class="row">
                <div class="twelve columns">
                    <table id="booking_list" class="u-full-width">
                        <thead class="slab-700">
                        <tr>
                            <th class="align-left">Datum</th>
                            <th class="align-left">Anmerkung</th>
                            <th class="align-left">Kategorie</th>
                            <th class="align-left">Betrag (€)</th>
                            <th class="align-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each bookings}}
                            <tr>
                                <td>{{ datum }}</td>
                                <td>{{ remark }}</td>
                                <td>{{ category }}</td>
                                <td>{{ amount }}</td>
                                <td>
                                    <a href="{{pathFor 'booking_edit'}}" class="editBooking" booking-id="{{_id}}"
                                       category-id="{{categoryId}}">Ändern</a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    {{#if nextPath}}
                        <a href="{{ pathFor 'booking_list' }}/{{nextPath}}">Weitere laden...</a>
                    {{/if}}
                </div>
            </div>
        {{else}}
            {{> notificationAreaBookingList }}
        {{/if}}
    </div>
</template>

<template name="notificationAreaBookingList">
    {{#if isConcerned "booking_list"}}
        <div class="row">
            <div class="twelve columns signin-prop notification">
                <strong><p><b>{{notification.type}}</b>{{notification.text}}</p></strong>
            </div>
        </div>
    {{/if}}
</template>

