<template name="BookingNew">
    <div class="docs-section">
        <h6 class="docs-header">Neue Buchung</h6>

        <p>Pflege der Ein- und Ausgaben. Unter dem Menüpunkt "<u>Umsätze</u>" können Ein- und Ausgaben nach aktuellem
            Tag, Woche, Monat und Jahr aufgerufen werden.
            Alternativ können auch "alle" existierenden Buchungen ausgegeben werden.
            Standardmäßig wird die aktuelle Woche vorselektiert.</p>

        <div class="row">
            <div class="twelve columns">
                <form id="new_booking">
                    <div class="row">
                        <div class="six columns">
                            <label for="new_booking_datum">Datum</label>
                            <input type="text" name="date" id="new_booking_datum"
                                   class="u-full-width" {{disabledProperty}}/>
                        </div>
                        <div class="six columns">
                            <label for="new_booking_amount">Betrag (€)</label>
                            <input type="text" name="amount" id="new_booking_amount"
                                   class="u-full-width"  {{disabledProperty}}>
                        </div>
                    </div>

                    <div class="row">
                        <div class="six columns">
                            <label for="new_booking_category">Kategorie</label>

                            <select name="category" id="new_booking_category" class="u-full-width" {{disabledProperty}}>
                                {{#each categories}}
                                    <option value={{ name }}>{{ name }}</option>
                                {{/each}}
                            </select>

                            <p class="tip"><a href="{{pathFor 'new_category'}}">neue Kategorie</a>
                                {{#ifCategoriesLink}}
                                    <a id="edit_category" style="padding-left:2em;" href="{{pathFor 'edit_category'}}">Kategorie
                                        ändern</a>
                                {{ else }}
                                    <span style="padding-left:2em;">Kategorie ändern</span>
                                {{/ifCategoriesLink}}
                            </p>
                        </div>
                        <div class="six columns">
                            <label for="new_booking_remark">Anmerkung</label>
                            <textarea rows="2" cols="20" name="remark"
                                      id="new_booking_remark" class="u-full-width" {{disabledProperty}}></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <a id="submit_booking"
                           class="button" {{ bookingButtonDisabled }} {{disabledProperty}}>buchen</a>
                    </div>
                    {{#ifCategoriesAlert}}
                        {{> noCategoriesAlert }}
                    {{else}}
                    {{/ifCategoriesAlert}}
                    {{#ifNewBooking}}
                        {{> successBookingAlert }}
                    {{/ifNewBooking}}
                </form>
            </div>
        </div>


    </div>
</template>

<template name="ifCategoriesAlert">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{else}}
        {{> UI.elseBlock}}
    {{/if}}
</template>

<template name="ifCategoriesLink">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{else}}
        {{> UI.elseBlock}}
    {{/if}}
</template>

<template name="ifNewBooking">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="noCategoriesAlert">
    <div class="ink-alert basic info" role="alert">
        <button id="close_category_alert" class="ink-dismiss">&times;</button>
        <p><b>Info:</b> Kategorie(n) zuvor anlegen.</p>
    </div>
</template>

<template name="successBookingAlert">
    <div class="row">
        <div class="twelve columns signin-prop notification">
            <strong><p><b>Bestätigung:</b> Buchung erfolgreich gespeichert.</p></strong>
        </div>
    </div>
</template>