<template name="CategoryEdit">
    <div class="docs-section">
        <h6 class="docs-header">Kategorie ändern</h6>

        <p>Pflege der Ein- und Ausgaben. Unter dem Menüpunkt "<u>Umsätze</u>" können Ein- und Ausgaben nach aktuellem
            Tag, Woche, Monat und Jahr aufgerufen werden.
            Alternativ können auch "alle" existierenden Buchungen ausgegeben werden.
            Standardmäßig wird die aktuelle Woche vorselektiert.</p>

        <div class="row">
            <div class="twelve columns">
                {{#if category}}
                    {{#with category}}
                        <form id="new_category">
                            <div class="row">
                                <div class="six columns">
                                    <label for="edit_category_name">Name</label>
                                    <input type="text" name="name" id="edit_category_name"
                                           class="u-full-width" {{disabledProperty}}
                                           value="{{#with category}}{{name}}{{/with}}"/>
                                </div>
                                <div class=" six columns">
                                    <label for="edit_category_description">Beschreibung</label>
                            <textarea rows="2" cols="40" name="description" id="edit_category_description"
                                      class="u-full-width" {{disabledProperty}}>{{#with category}}{{description}}{{/with}}</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <a id="save_category"
                                   class="button" {{ savingAndDeleteButtonDisabled }} {{disabledProperty}}>speichern</a>
                                <a id="delete_category"
                                   class="button" {{ savingAndDeleteButtonDisabled }} {{disabledProperty}}>endgültig
                                    löschen</a>
                            </div>
                            {{> notificationAreaCategoryEdit }}

                            <!--{{#ifEditCategory}}
                                {{> successEditCategoryAlert }}
                            {{/ifEditCategory}}
                            {{#ifNoChangesCategory}}
                                {{> noChangesInCategoryAlert }}
                            {{/ifNoChangesCategory}}
                            {{#ifExistingCategory}}
                                {{> existingCategoryAlert }}
                            {{/ifExistingCategory}}
                            {{#ifDeleteCategory}}
                                {{> successDeleteCategoryAlert }}
                            {{/ifDeleteCategory}}
                            {{#ifDependentBookings}}
                                {{> dependentBookingsAlert }}
                            {{/ifDependentBookings}}-->
                        </form>
                    {{/with}}
                {{else}}
                    {{> notificationAreaCategoryEdit }}
                {{/if}}
            </div>
        </div>


    </div>
</template>

<template name="notificationAreaCategoryEdit">
    {{#if isConcerned "category_edit"}}
        <div class="row">
            <div class="twelve columns signin-prop notification">
                <strong><p><b>{{notification.type}}</b>{{notification.text}}</p></strong>
            </div>
        </div>
    {{/if}}
</template>

<template name="ifEditCategory">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="ifNoChangesCategory">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="ifExistingCategory">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="ifDeleteCategory">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="ifDependentBookings">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="successEditCategoryAlert">
    <div class="row">
        <div class="twelve columns signin-prop notification">
            <strong><p><b>Bestätigung:</b> Kategorie erfolgreich gespeichert.</p></strong>
        </div>
    </div>
</template>

<template name="noChangesInCategoryAlert">
    <div class="row">
        <div class="twelve columns signin-prop notification">
            <strong><p><b>Warnung:</b> Keine Änderungen festgestellt. Speichern abgebrochen!</p></strong>
        </div>
    </div>
</template>

<template name="existingCategoryAlert">
    <div class="row">
        <div class="twelve columns signin-prop notification">
            <strong><p><b>Fehler:</b> Kategorie existiert bereits.</p></strong>
        </div>
    </div>
</template>

<template name="successDeleteCategoryAlert">
    <div class="row">
        <div class="twelve columns signin-prop notification">
            <strong><p><b>Bestätigung:</b> Kategorie erfolgreich gelöscht.</p></strong>
        </div>
    </div>
</template>

<template name="dependentBookingsAlert">
    <div class="row">
        <div class="twelve columns signin-prop notification">
            <strong><p><b>Fehler:</b> Abhängige Buchungen zuerst, dann diese Kategorie löschen.</p></strong>
        </div>
    </div>
</template>