<template name="Statistic">
    <div class="docs-section">
        <h6 class="docs-header">Statistik {{> searchFormAreaStatistic }}</h6>

        <p>Pflege der Ein- und Ausgaben. Unter dem Menüpunkt "<u>Umsätze</u>" können Ein- und Ausgaben nach aktuellem
            Tag, Woche, Monat und Jahr aufgerufen werden.
            Alternativ können auch "alle" existierenden Buchungen ausgegeben werden.
            Standardmäßig wird die aktuelle Woche vorselektiert.</p>
        {{#if searchFormEnabled}}
            {{> searchFormStatistic }}
        {{/if}}
        {{#if bookingsExist}}
            <div class="row">
                <div class="twelve columns">
                    <table id="statistic_list" class="u-full-width">
                        <thead class="slab-700">
                        <tr>
                            <th class="align-left">Kategorie</th>
                            <th class="align-left">Summe (€)</th>
                            <th class="align-left">Gesamt</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each amounts}}
                            <tr>
                                <td>{{ _id }}</td>
                                <td>{{ amount }}</td>
                                <td></td>
                            </tr>
                        {{/each}}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{ total }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {{else}}
            {{> notificationAreaStatistic }}
        {{/if}}
    </div>
</template>

<template name="notificationAreaStatistic">
    {{#if isConcerned "statistic"}}
        <div class="row">
            <div class="twelve columns signin-prop notification">
                <strong><p><b>{{notification.type}}</b>{{notification.text}}</p></strong>
            </div>
        </div>
    {{/if}}
</template>

<template name="searchFormAreaStatistic">
    {{#if isSearchFormConcerned "statistic"}}
        <span class="collapse"><a class="searchForm" style="text-decoration: none"
                                  href="">{{ searchFormEnabler }}</a></span>
    {{/if}}
</template>

<template name="searchFormStatistic">
    <form id="search_statistic">
        <div class="row">
            <div class="one-third column">
                <label for="search_statistic_von_datum">Von</label>
                <input type="text" name="search_statistic_von_datum" id="search_statistic_von_datum"
                       class="u-full-width" {{disabledProperty}}/>
            </div>
            <div class="one-third column">
                <label for="search_statistic_bis_datum">Bis</label>
                <input type="text" name="search_statistic_bis_datum" id="search_statistic_bis_datum"
                       class="u-full-width"  {{disabledProperty}}>
            </div>
            <div class="one-third column">
                <label for="search_statistic_category">Kategorie</label>
                <select name="category" id="search_statistic_category" class="u-full-width">
                    <option value="all">-- Alle --</option>
                    {{#each categoryId}}
                        <option value="{{_id}}" {{isSelected}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{> notificationAreaStatistic }}
    </form>
</template>