<template name="Statistic">
    <div class="docs-section">
        <h6 class="docs-header">Statistik</h6>

        <p>Pflege der Ein- und Ausgaben. Unter dem Menüpunkt "<u>Umsätze</u>" können Ein- und Ausgaben nach aktuellem
            Tag, Woche, Monat und Jahr aufgerufen werden.
            Alternativ können auch "alle" existierenden Buchungen ausgegeben werden.
            Standardmäßig wird die aktuelle Woche vorselektiert.</p>

        <div class="row">
            <div class="twelve columns">
                <form id="new_booking">
                    <div class="row">
                        <div class="one-third column">
                            <label for="statistic_von_datum">Von</label>
                            <input type="text" name="statistic_von_datum" id="statistic_von_datum"
                                   class="u-full-width" {{disabledProperty}}/>
                        </div>
                        <div class="one-third column">
                            <label for="statistic_bis_datum">Bis</label>
                            <input type="text" name="statistic_bis_datum" id="statistic_bis_datum"
                                   class="u-full-width"  {{disabledProperty}}>
                        </div>
                        <div class="one-third column">
                            <label for="statistic_category">Kategorie</label>
                            <select name="category" id="statistic_category" class="u-full-width" {{disabledProperty}}>
                                <option value="all">-- Alle --</option>
                                {{#each categories}}
                                    <option value={{ name }}>{{ name }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <a id="statistic_search"
                           class="button" {{ bookingButtonDisabled }} {{disabledProperty}}>suchen</a>
                    </div>
                    {{#ifCategoriesAlert}}
                        {{> noCategoriesAlert }}
                    {{else}}
                    {{/ifCategoriesAlert}}
                    {{#ifNewBooking}}
                        {{> successBookingAlert }}
                    {{/ifNewBooking}}
                </form>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <table id="statistic_list" class="u-full-width">
                    <thead class="slab-700">
                    <tr>
                        <th class="align-left">Kategorie</th>
                        <th class="align-left">Summe (€)</th>
                        <th class="align-left">Gesamt</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each categories}}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ accumulatedAmount }}</td>
                            <td></td>
                        </tr>
                    {{/each}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{ total }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<template name="ifCategoriesAlert">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{else}}
        {{> UI.elseBlock}}
    {{/if}}
</template>

<template name="ifCategoriesLink">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{else}}
        {{> UI.elseBlock}}
    {{/if}}
</template>

<template name="ifNewBooking">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="noCategoriesAlert">
    <div class="row">
        <div class="twelve columns signin-prop notification">
            <strong><p><b>Info:</b> Kategorie(n) zuvor anlegen.</p></strong>
        </div>
    </div>
</template>

<template name="successBookingAlert">
    <div class="row">
        <div class="twelve columns signin-prop notification">
            <strong><p><b>Bestätigung:</b> Buchung erfolgreich gespeichert.</p></strong>
        </div>
    </div>
</template>