<head>
    <title>hello</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>

<body class="code-snippets-visible" style="height: 1000px;">
</body>

<template name="appBody">
    <!-- .container is main centered wrapper -->
    <div class="container">
        <section class="header">
            <h2 class="title">Hausverwaltung.</h2>
            <h5>Pflege und Übersicht der Ein- und Ausgaben (letzten 12 Monate)</h5>
        </section>
        {{> yield "login"}}
        <!-- columns should be the immediate child of a .row -->
        {{> yield }}
    </div>
</template>