<head>
    <title>Hausverwaltung</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="code-snippets-visible" style="height: 1000px;">
</body>

<template name="appBody">
    <!-- .container is main centered wrapper -->
    <div class="container">
        {{> yield "header" }}
        <!-- columns should be the immediate child of a .row -->
        {{> yield "content" }}
    </div>
</template>