<template name="Signin">
    <div class="signin-props row">
        <div class="three columns">&nbsp;
        </div>
        <div class="six columns">
            <form>
                <div class="row">
                    <div class="twelve columns signin-prop">
                        <label for="usernameInput">Benutzername</label>
                        <input class="u-full-width uname" type="text" placeholder="Max Mustermann"
                               id="usernameInput">
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns signin-prop">
                        <label for="usernamePassword">Passwort</label>
                        <input class="u-full-width upass" type="password" placeholder=""
                               id="usernamePassword">
                    </div>
                </div>
                <div class="row signin-prop">
                    <a class="button button-primary forward-login">senden</a>
                    <a class="button register back-login">zurück</a>
                </div>
                <div class="row">
                    <div class="twelve columns signin-prop notification">
                        <strong>{{ validationMessage }}</strong>
                    </div>
                </div>
            </form>
        </div>
        <div class="three columns">&nbsp;
        </div>
    </div>
</template>