<template name="Signin">
    <div class="signin-props row">
        <div class="four columns">&nbsp;
        </div>
        <div class="four columns">
            <form>
                <div class="row">
                    <div class="twelve columns signin-prop">
                        <label for="usernameInput">Benutzername</label>
                        <input class="u-full-width" type="text" placeholder="Max Mustermann"
                               id="usernameInput">
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns signin-prop">
                        <label for="usernamePassword">Passwort</label>
                        <input class="u-full-width" type="password" placeholder=""
                               id="usernamePassword">
                    </div>
                </div>
                <div class="row signin-prop">
                    <input class="button-primary" type="submit" value="Senden">
                    <a class="button register back-login">zurück</a>
                </div>
            </form>
        </div>
        <div class="four columns">&nbsp;
        </div>
    </div>
</template>